# .env config for docker

RABBITMQ_DEFAULT_USER=tiber
RABBITMQ_DEFAULT_PASS=tiber_password  # CHANGE in production
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_PORT=5672

POSTGRES_DB=tiber
POSTGRES_USER=tiber
POSTGRES_PASSWORD=tiber_password   # CHANGE in production
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=tiberminio
MINIO_ROOT_PASSWORD=tiberminio123   # CHANGE in production (min 8 chars)
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Used by the minio-init container to create the bucket
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=tiber-artifacts
MINIO_ALIAS=local