# Copy this to docker-compose.override.yml

services:
  postgres:
    cpus: '1.0'
    mem_limit: 512m

  redis:
    cpus: '0.5'
    mem_limit: 128M

  rabbitmq:
    cpus: '1.0'
    mem_limit: 512m

  minio:
    cpus: '0.5'
    mem_limit: 256m
